/* Mobile - 420px Width */

@media only screen and (max-width: 420px) {

    #particles-js {

        display: none;

    }

    .desktop-view {

        display: none;

    }


    .mobile-view {}

    .mobile-scroll {

        z-index: 5000;
        left: 35vw;
        bottom: 5vw;
        position: absolute;
        width: 30vw;
        height: 9vh;
        background-color: rgba(178, 34, 34, 0.53);

    }

    .side-nav {

        display: none;

    }

    .main_nav-bar {

        display: none;

    }

    .main_nav-bar ul li a {

        font-size: 1em;
        margin: 0.2vw 1vw;

    }

    .main_container-1 {}

    .main_container-2 {

        height: auto;

    }

    .main_container-3 {

        height: 100vh;

    }

    .main_container-4 {

        height: 100vh;

    }


    .main-content-1 {

        position: absolute;
        top: 10vw;
        left: 5vw;
        text-align: center;
        display: block;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.32);
        width: 80%;

    }

    #three-container {

        position: absolute;
        top: 40vh;
        left: 5vw;
        width: 90%;
        height: 60vh;

    }

    #three-container_skills {

        margin: 0vw 3vw;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid white;
        width: 50vw;
        height: 75vh;

    }

    .main-content-1 .head-text-1 {

        padding: 0;
        margin: 0.1vw;
        font-size: 1.5em;


    }


    .main-content-1 .head-text-2 {

        margin: 0;
        font-size: 5em;

    }

    .text-wrap {

        display: block;
        text-align: center;
        font-size: 1.5em;

    }

    .main_nav-bar ul li a {

        font-size: 1em;
    }

    .page-header-2 {

        display: inline-block;
        background-color: rgba(255, 0, 0, 0.56);
        padding: 0.5vw;
        font-size: 3.5em;
        font-family: 'Work Sans', sans-serif;
        color: white;
        margin: 1vw;

    }

    .main-content-2 {

        width: 95vw;

    }

    .about-header {

        font-family: 'Raleway', sans-serif;
        font-size: 3em;
        margin: 0.1vw;

    }

    .about-container {

        padding: 2vw;
        display: block;
        width: 80vw;
        margin: 5vh 5vw;
        box-shadow: 0px 1px 30px #888888;

    }

    .about-subheader {

        margin: 0.1vw;
        font-size: 1em;
        font-family: 'Work Sans', sans-serif;

    }

    .about-image {

        height: 100px;
        width: 100px;
        margin: 1vw;

    }

    .about-paragraph {

        margin: 0.1vw;
        font-size: 0.8em;
        font-family: sans-serif;

    }

    .portrait-pic {

        width: 10em;
        height: 10em;

    }

    .skills .skill-img {

        width: 4em;
        height: 4em;

    }

    .skills {

        height: 65vh;
        width: 26vw;
        margin: 0vw 1vw;
    }

    .stats {

        height: 65vh;
        width: 26vw;
        margin: 0vw 1vw;
    }

    .stats p:nth-child(4) {

        font-size: 1.1em;

    }


    #three-container_skills {

        position: absolute;
        border: none;
        background-color: transparent;
        height: 68vh;
        width: 60vw;
        margin: 0vw 1vw;

    }

    .skillset-container {

        width: 90%;
        height: 70vh;

    }



    .main_container-4 h3 {

        margin: 1vw 10vw;
        text-align: center;
        font-size: 4em;
        font-family: 'Work Sans', sans-serif;
        background-color: rgba(248, 80, 80, 0.31);
        color: white;

    }

    .main_container-4 h4 {

        font-size: 1.5em;
        font-family: 'Work Sans', sans-serif;
        text-align: center;
        margin: 0.1vw;
    }

    .skill-left {

        position: absolute;
        left: 5vw;
        width: 20%;

    }

    .skill-right {

        position: absolute;
        right: 5vw;
        width: 20%;

    }


    .mobile-skills {

        top: 28vh;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 2vw;

    }

    .skillicon_container {

        display: block;
        justify-content: center;
        width: 100%;
    }

    .mobile-skills .skill-img {

        display: block;
        margin: 0.5vw;
        padding: 10px;
        border-radius: 200px;
        border: 2px solid #818181;
        background-color: #818181;
        width: 12vw;
        height: 7vh;
        transition: all ease 0.2s;
        box-shadow: 0px 1px 30px rgba(136, 136, 136, 0);
    }

    .mobile-skills .hover-text {

        font-family: 'Nunito', sans-serif;
        color: #000000;
        font-size: 3vw;
        display: block;
        opacity: 1;
    }


    .mobile-skills .skill-img:hover {

        background-color: #e0e0e0;
        transition: all ease 0.2s;
        box-shadow: 0px 1px 30px rgb(75, 75, 75);
    }

    .aboutme_subsection {

        width: 100vw;
        height: 100vh;

    }

    .mobile-stats {

        box-shadow: 0px 1px 30px #888888;
        margin: 3vw 3vw;
        display: inline-block;
        background-color: #B3B3B3;
        width: 90%;
        height: auto;
        padding: 2vw;
    }

    .mobile-stats h3 {

        text-align: center;
        color: white;
        font-family: 'Work Sans', sans-serif;
        font-size: 2em;
        margin: 0.2vw;

    }

    .mobile-stats p:nth-child(2) {

        text-align: center;
        color: red;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.2em;
        margin: 0.2vw;

    }

    .mobile-stats p:nth-child(4) {

        text-align: left;
        color: #2c2c2c;
        font-family: 'Nunito', sans-serif;
        font-size: 1em;
        margin: 0.5vw;


    }

    .portrait-pic {

        width: 10em;
        height: 10em;

    }
}

/* Laptops Screens */

@media only screen and (min-width: 1020px) {

    .mobile-view {

        display: none;

    }

    .main-content-1 .head-text-1 {

        padding: 0;
        margin: 0.1vw;
        font-size: 1.8em;
        ;

    }


    .main-content-1 .head-text-2 {

        margin: 0;
        font-size: 10em;

    }

    .main_nav-bar {
        display: block;

    }

    .main_nav-bar ul li a {

        font-size: 1em;
    }

    .page-header-2 {

        display: inline-block;
        background-color: rgba(255, 0, 0, 0.56);
        padding: 0.5vw;
        font-size: 3.5em;
        font-family: 'Work Sans', sans-serif;
        color: white;

    }

    .about-header {

        font-family: 'Raleway', sans-serif;
        font-size: 2.5em;
        margin: 0.1vw;

    }

    .about-container {

        width: 18vw;
        margin: 0vh 0.5vw;


    }

    .about-subheader {

        margin: 0.1vw;
        font-size: 1em;
        font-family: 'Work Sans', sans-serif;

    }

    .about-image {

        height: 150px;
        width: 150px;
        margin: 1vw;

    }

    .about-paragraph {

        margin: 0.1vw;
        font-size: 1em;
        font-family: sans-serif;

    }

    .portrait-pic {

        width: 10em;
        height: 10em;

    }

    .skills .skill-img {

        width: 4em;
        height: 4em;

    }

    .skills {

        height: 65vh;
        width: 26vw;
        margin: 0vw 1vw;
    }

    .stats {

        height: 65vh;
        width: 26vw;
        margin: 0vw 1vw;
    }

    .stats p:nth-child(4) {

        font-size: 1.1em;

    }

    #three-container_skills {

        height: 68vh;
        width: 24vw;
        margin: 0vw 1vw;
    }

}

/* Desktop Screens */

@media only screen and (min-width: 1220px) {

    .mobile-view {

        display: none;

    }

    .main-content-1 .head-text-1 {

        padding: 0;
        margin: 0.1vw;
        font-size: 3em;
        ;

    }


    .main-content-1 .head-text-2 {

        margin: 0;
        font-size: 14em;

    }

    .main_nav-bar {

        display: block;

    }

    .main_nav-bar ul li a {

        font-size: 1.5em;
    }

    .page-header-2 {

        display: inline-block;
        background-color: rgba(255, 0, 0, 0.56);
        padding: 0.5vw;
        font-size: 5em;
        font-family: 'Work Sans', sans-serif;
        color: white;

    }

    .about-header {

        font-family: 'Raleway', sans-serif;
        font-size: 4.5em;
        margin: 0.1vw;

    }

    .about-container {

        width: 18vw;
        margin: 0vh 0.5vw;


    }

    .about-subheader {

        margin: 0.1vw;
        font-size: 1.5em;
        font-family: 'Work Sans', sans-serif;

    }

    .about-image {

        height: 200px;
        width: 200px;
        margin: 1vw;

    }

    .about-paragraph {

        margin: 0.1vw;
        font-size: 1em;
        font-family: sans-serif;

    }

    .portrait-pic {

        width: 15em;
        height: 15em;

    }

    .skills .skill-img {

        width: 5.5em;
        height: 5.5em;

    }

    .skills {

        height: 65vh;
        width: 20vw;
        margin: 0vw 1vw;
    }

    .stats {

        width: 20vw;
        margin: 0vw 1vw;
    }

    .stats h4 {

        font-size: 1.3em;
        font-family: 'Work Sans', sans-serif;
        color: white;
        margin: 0.2vw;
    }

    .stats p:nth-child(4) {

        font-size: 0.7vw;
        margin: 0.8vw 0.8vw;
    }

    .stats h3 {

        text-align: left;
        font-size: 3em;
        margin: 0.2vw;

    }

    #three-container_skills {

        height: 68vh;
        width: 24vw;
        margin: 0vw 1vw;
    }

    .portrait-pic {

        width: 12em;
        height: 12em;
        background-color: dimgrey;
        border-radius: 300px;

    }

    .interest_img {

        display: inline-block;
        width: 3vw;
        margin: 0.5vw 0.1vw;

    }
    
    .resume_button {
        
        color: rgb(0, 0, 0);
        margin: 1vw;
        font-size: 0.6vw;
        padding: 0.6vw 2vw;
        display: block;
        border: 1px solid black;
        border-radius: 1px;
        background-color: transparent;
        transition: all ease 0.3s;
    }
    
    .resume_button:hover {
        
        transition: all ease 0.3s;
        background-color: rgba(255, 55, 55, 0.8);
        border: 1px solid rgba(255, 55, 55, 0.8);
        color: rgb(255, 255, 255)
    }

}

/* Moerse Screens */

@media only screen and (min-width: 1824px) {

    .mobile-view {

        display: none;

    }

    .main_nav-bar {

        display: block;

    }

}