/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {


    #wrapper {

        width: 100vw;
        height: 100vh;

    }

    .mobile-hidden {

        display: none;

    }


    #particles-js {
        display: none;
    }

    .main_nav-bar {

        display: none;

    }

    .side-nav {

        display: none;

    }

    #three-container {

        position: absolute;
        top: 45%;
        z-index: 50;
        margin: 0 auto;
        height: 50vh;
        width: 100vw;
    }

    .about-container {

        width: 90vw;
        height: 30vh;
        margin: 1vw;

    }

    .about-header {

        font-size: 5em;

    }

    .about-subheader {

        font-size: 1em;

    }

    .about-paragraph {

        font-size: 0.8em;

    }

    .about-image {

        display: none;
        width: 150px;
        height: 150px;

    }

    .aboutme-container {

        width: 90vw;

    }

    .stats {

        width: 90vw;

    }
    
    #three-container_skills {
        
        background-color: transparent;
        border: transparent;
        position: absolute;
        width: 70%;
        
        
    }

    .skills {
        
        box-shadow: 0px 0px 0px;
        background-color: transparent;
        margin: 0;
        width: 100vw;
        height: auto;
    }

    .skills h3 {
        
        text-align: center;
        background-color: rgba(252, 86, 86, 0.8);
    }
    
    .skills p {
        
        text-align: center;
        
    }
    
    .mobile-skillicon_container_left {

        width: 30%;
        height: auto;
        float: left;

    }

    .mobile-skillicon_container_right {

        width: 30%;
        height: auto;
        float: right;

    }
    
    .skillicon_container {
        
        margin: 15vw 0vw;
        
    }
    
    .skillicon_container .hover-text {
        
        margin: 1vw 0vw;
        font-size: 0.5em;
        
    }

    .skill-img {
        
        border-radius: 100px;
        width: 80px;
        height: 80px;

    }

    .skills .hover-text {

        font-size: 100%;
        font-family: 'Nunito', sans-serif;
        color: white;
        display: block;
        background-color: rgba(37, 37, 37, 0.58);

    }

    .portrait-pic {

        width: 200px;
        height: 200px;

    }

    .mobile-section-down {

        width: 25vw;
        height: 10vh;
        background-color: rgba(244, 40, 40, 0.44);
        position: absolute;
        top: 85vh;
        left: 39%;
        z-index: 5000;

    }

    .main_container-1 {

        width: 100vw;
        height: 100vh;

    }

    .main_container-2 {

        width: 100vw;
        height: 100vh;

    }

    .main_container-2_1 {

        width: 100vw;
        height: 100vh;

    }

    .main_container-4 {

        width: 100vw;
        height: 100vh;

    }

    .main_container-4_1 {}


    .fp-section.fp-table,
    .fp-slide.fp-table {

        width: 100vw;
        height: 100vh;
    }

    .main-content-1 {

        position: relative;
        bottom: 40vw;
        z-index: 1001;
        padding: 5vw 0vh;
        width: 100vw;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.51);
    }

    .main-content-1 .head-text-1 {

        display: block;
        text-align: center;
        font-size: 150%;
        margin: 0.5vw;
    }

    .main-content-1 .head-text-2 {

        display: block;
        text-align: center;
        font-size: 500%;
        margin: 0;

    }

    .text-wrap {

        margin: 0.5vw;
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.56);
        padding: 0.8vw;
        font-size: 1.8em;
        font-family: 'Work Sans', sans-serif;

    }

}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* Desktops and laptops ----------- */

@media only screen and min-width: 1025px) and (max-width: 1280px) {
    

    .mobile-query {

        display: none;

    }

    .mobile-hidden {

        display: none;

    }

    #particles-js {
        
        
    }

    #three-container {

        z-index: 1001;
        float: left;
        margin: 0.5vw;
        height: 100vh;
        width: 48.5vw;
    }

    .main-content-1 .head-text-1 {

        padding: 0;
        margin: 0.1vw;
        font-size: 3em;


    }

    .main-content-1 .head-text-2 {

        margin: 0;
        font-size: 15em;
        font-family: 'Raleway', sans-serif;

    }

    .text-wrap {

        display: inline-block;
        padding: 0.5vw;
        font-size: 2em;

    }

    .skillicon_container {

        width: 40%;
        display: inline-block;
        margin: 0.3vw;
        justify-content: center;
    }

    .skills .skill-img {

        display: block;
        margin: 0.5vw;
        padding: 10px;
        border-radius: 200px;
        border: 2px solid #818181;
        background-color: #818181;
        width: 6em;
        height: 6em;
        transition: all ease 0.2s;
        box-shadow: 0px 1px 30px rgba(136, 136, 136, 0);
    }

    .skills .hover-text {

        font-family: 'Nunito', sans-serif;
        color: white;
        font-size: 0.8em;
        display: block;
        background-color: rgba(37, 37, 37, 0.58);
        padding: 0.5px;
        opacity: 0;
    }


    .skills .skill-img:hover {

        background-color: #e0e0e0;
        transition: all ease 0.2s;
        box-shadow: 0px 1px 30px rgb(75, 75, 75);
    }

    .skills .skill-img:hover + .hover-text {

        opacity: 1;
        transition: all ease 0.5s;
    }




}