/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

<<<<<<< HEAD
=======
    .mobile-query {}

>>>>>>> parent of 3a3ddaf... Media Query V4
    #wrapper {

        width: 100vw;
        height: 100vh;

    }

    #particles-js {
        display: none;
    }

    .main_nav-bar {

        display: none;

    }

    .side-nav {

        display: none;

    }

    #three-container {

        position: absolute;
        bottom: 0vw;
        z-index: 50;
        margin: 0 auto;
        height: 55vh;
        width: 100vw;
    }

<<<<<<< HEAD
=======
    .about-container {

        display: block;
        width: 90vw;
        height: 30vh;
        margin: 1vw;

    }

    .about-header {

        font-size: 5em;

    }

    .about-subheader {

        font-size: 1em;

    }

    .about-paragraph {

        font-size: 0.8em;

    }

    .about-image {

        display: none;
        width: 150px;
        height: 150px;

    }

>>>>>>> parent of 3a3ddaf... Media Query V4
    .mobile-section-down {

        width: 25vw;
        height: 10vh;
        background-color: rgba(244, 40, 40, 0.44);
        position: absolute;
        bottom: 2vw;
        left: 39%;
        z-index: 5000;

    }

    .main_container-1 {

        width: 100vw;
        height: 100vh;

    }

    .fp-section.fp-table,
    .fp-slide.fp-table {

        width: 100vw;
        height: 100vh;
    }

    .main-content-1 {

        position: relative;
        bottom: 40vw;
        z-index: 1001;
        padding: 5vw 0vh;
        width: 100vw;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.51);
    }

    .main-content-1 .head-text-1 {

        display: block;
        text-align: center;
        font-size: 150%;
        margin: 0.5vw;
    }

    .main-content-1 .head-text-2 {

        display: block;
        text-align: center;
        font-size: 500%;
        margin: 0;

    }

    .text-wrap {

        margin: 0.5vw;
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.56);
        padding: 0.8vw;
        font-size: 1.8em;
        font-family: 'Work Sans', sans-serif;

    }

}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {

<<<<<<< HEAD
    #particles-js {
        display: none;
    }

=======
    .mobile-query {
        
        display: none;
        
    }
    
    .mobile-hidden {
        
        display: none;
        
    }

    #particles-js {
        display: none;
    }

>>>>>>> parent of 3a3ddaf... Media Query V4
    #three-container {

        z-index: 1001;
        float: left;
        margin: 0.5vw;
        height: 100vh;
        width: 48.5vw;
    }

    .main-content-1 .head-text-1 {

        padding: 0;
        margin: 0.1vw;
        font-size: 3em;


    }

    .main-content-1 .head-text-2 {

        margin: 0;
        font-size: 15em;
        font-family: 'Raleway', sans-serif;

    }

    .text-wrap {

        display: inline-block;
        padding: 0.5vw;
        font-size: 2em;

    }



}