/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    
    .main_nav-bar {
        
        display: none;
        
    }
    
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    
}